################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/*
*/bin
*/obj
/src/OpenAIClient/bin/Debug/net8.0
/src/OpenAIClient/obj
